force-app/main/default/flows/Account_Update_Related_Contacts_Phone_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Fill the Contacts To Update Phone Number Collection to update the related Contacts after.</description>
        <name>Add_Updated_Contact_to_Collection</name>
        <label>Add Updated Contact to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Contacts_To_Update_Phone_Number</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Related_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Related_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Account Phone Number value to the related Contacts</description>
        <name>Assign_Contact_Phone_Number</name>
        <label>Assign Contact Phone Number</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Related_Contacts.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Contact_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>When the Account Phone Number is changed all the related Contacts Business Phone are updated.</description>
    <environments>Default</environments>
    <interviewLabel>Account: Update Related Contacts Phone Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Related Contacts Phone Number</label>
    <loops>
        <description>Loop through Contacts found earlier on.</description>
        <name>Loop_Through_Related_Contacts</name>
        <label>Loop Through Related Contacts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Related_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Phone_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All Contacts related to the Account record.</description>
        <name>Get_All_Related_Contacts</name>
        <label>Get All Related Contacts</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates Contacts with the new Phone Number</description>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>Contacts_To_Update_Phone_Number</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contacts_To_Update_Phone_Number</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
