force-app/main/default/flows/Record-Triggered Flows/Opportunity_Update_Opportunity_Notes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_Opportunity_Notes</name>
        <label>Update Opportunity Notes</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Opportunities.Opportunity_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOpportunitiesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Opportunity Notes</label>
    <loops>
        <name>Loop_Through_Opportunities</name>
        <label>Loop Through Opportunities</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity_Notes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Relared_Opportunity_Notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Relared_Opportunity_Notes</name>
        <label>Update Relared Opportunity Notes</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputReference>UpdatedOpportunitiesCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Notes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedOpportunitiesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
